// import { makeStyles } from "@material-ui/core/styles";

.main-container {
  position: relative;
  //background-color: #282c34;
  //min-height: 100vh;
  //min-width: 960px;
  display: flex;
  //width: 100%;
  //width: 100vw;
  height: 100%;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .content {
    display: block;
    width: 70%;
    background-color: darkgrey;
  }
}


// const MainContainerStyle = makeStyles({
//   mainContainer: {
//     minWidth: "960px",
//     display: "flex",
//     width: "100%",
//   },
//   navBar: {
//     minWidth: "250px",
//     height: "100vh",
//     width: "250px",
//   },
//   content: {
//     display: "flex",
//     width: "100%",
//   },
// });
