
.main-container {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .content {
    display: block;
    background-color: darkgrey;
    min-width: 100vw;
    min-height: 100vh;
  }
}
